
  .container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  #taskInput {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
  }
  #taskList {
    /* list-style-type:decimal; */
    padding: 0;
    text-align: left;
  }
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .task-item.completed {
    text-decoration: line-through;
  }
  .delete-btn {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }